<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span><a routerLink="/">flexitrade</a></span>
        <span class="nav-spacer"></span>
        <ng-container *ngIf="(authService.isLoggedIn$ | async); else loginOrRegister">
            <button *ngIf="authService.isLoggedIn$ | async" mat-icon-button class="example-icon"
                aria-label="Example icon-button with menu icon">
                <mat-icon>menu</mat-icon>
            </button>
        </ng-container>
        <ng-template #loginOrRegister>
            <ul class="nav-items">
                <li><a routerLink="/" (click)="open(loginComponent)">Login</a></li>
                <li><a routerLink="/register">Register</a></li>
            </ul>
        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>